<% @page_title = 'About Wonk' %>

<!-- container bootstrap setup -->
<div class="row-fluid clearfix container-background">
  <h1 id="page-banner">
    About Wonk
  </h1>

  <!-- container -->
  <div id="about" class="span8 offset2 span8-offset2-container info-box">

    <p>
      Wonk is a hub for user-generated and user-aggregated explanations of news trends in policy and politics.  Wonk is built on the following ideas:
    </p>

    <h2>Trends Over Headlines</h2>
    <p>
    	Headlines are constantly changing but stories take place in the context of underlying trends.  Understanding these trends can provide context for the news stories of the moment.
    </p>

    <h2>Knowledge Sharing</h2>
    <p>
      With increased access to expert thinking, we can learn more and we can do it faster.  More collective access to our individual areas of expertise means that we can spread our knowledge more effectively.  While you may not know much about one particular topic, you may know a lot about another.  I want to get your take on your areas of expertise, and I want to share mine with you.
    <p>

    <h2>Fresh Content</h2>
    <p>
      To get our news, many of us read the same newspapers, visit the same websites, and watch the same television shows.  Rather than consuming more of the same content, we can create new content and create a more thoughtful dialogue. 
    </p>

  </div> <!-- end span8-offset2-container -->

</div> <!-- end container-background -->
