<% @page_title = 'About' %>

<!-- container bootstrap setup -->
<div class="row-fluid clearfix container-background">
  <h1 id="banner-header" style="font-weight: bold">
    About Wonker
  </h1>

  <!-- container -->
  <div id="about" class="span8 offset2 span8-offset2-container info-box">

    <p>
      Wonker<!-- &trade; --> makes political news easier to understand.  It's a place on the internet for people like you and me to demystify the political stories that come up again and again.  Wonker is built on the following ideas:
    </p>

    <h1 id="banner-header">Trends Over Headlines</h1>
    <p>
      Headlines are constantly changing but lie beneath those headlines.  Understanding these trends can make understanding the news stories of the moment easier.
    </p>

    <h1 id="banner-header">Knowledge Sharing</h2>
    <p>
      With increased access to expert thinking, we can learn more and we can do it faster.  You may not know much about one topic; that's fine, other Wonkers can explain that topic to you.  I may not know much about another topic; that's fine, you can explain it to me.
    <p>

    <h1 id="banner-header">Fresh Content</h1>
    <p>
      To get our news, many of us read the same newspapers, visit the same websites, and watch the same TV shows.  Rather than consuming the same content, we can build on what already exists and have a more thoughtful dialogue. 
    </p>

  </div> <!-- end span8-offset2-container -->

</div> <!-- end container-background -->

<div class="row-fluid clearfix container-background">
  <h1 id="page-banner" style="font-weight: bold">
    Contact
  </h1>

<!-- container -->
<div id="contact" class="span8 offset2 span8-offset2-container info-box">

  <h4>Please send any questions or feedback to:</h4>
  <!-- make this a mail_to link -->
  <h3 id="contact"><%= mail_to "cas.mcco@gmail.com" %></h3>

</div> <!-- end span8-offset2-container -->

</div> <!-- end container-background -->
