<% @page_title = 'Contact' %>

<div class="row-fluid clearfix container-background">
  <h1 id="page-banner">
    Contact
  </h1>

<!-- container -->
<div id="contact" class="span8 offset2 span8-offset2-container info-box">

  <h4>Please send any questions or feedback to:</h4>
  <!-- make this a mail_to link -->
  <h3 id="contact"><%= mail_to "cas.mcco@gmail.com" %></h3>

</div> <!-- end span8-offset2-container -->

</div> <!-- end container-background -->